header{
    height: 30rem;
    background: linear-gradient(180deg, #9D0E0E00, #4F0707), url(../public/assets/images/bg.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.title{
    font-size: 5rem;
    font-weight: 600;
    color: #EB2929;
}

.shadowx{
    box-shadow: 0px 0px .2rem rgba(0, 0, 0, .8);
}



@media screen and (max-width:420px) {
    html{
        font-size: 55.5%;
    }
}
@media screen and (max-width:720px) {
    html{
        font-size: 62.5%;
    }
}